<div class="game">
    <div class="top">
 
     <div *ngFor="let result of gameService.results">
        <app-card [card]="result" ></app-card>
     </div>

    </div>
    <div class="middle">
        <div class="middleLeft">
            <div class="tabset">
                <div class="tab" [class.active]="activeTab === 1"  (click)="changeActiveTab(1)">
                  <div class="tab-title">Main</div>
                  <div class="tab-content"  >
                      
                    <button (click)="half()" value='24' multiplaier="24" class="blue"> JOKER x24</button>
                    <button (click)="half()" class="red1"> RED x2</button>
                    <button (click)="half()" class="black1"> BLACK x2 </button>
                    <button (click)="half()" class="grey1"> 2-9 x1.5</button>
                    <button (click)="half()" class="grey1"> J,Q,K,A x3 </button>
                    <button (click)="half()" class="grey1"> J,Q x6 </button>
                    <button (click)="half()" class="grey1"> K,A  x6</button>
                
                  </div>
                </div>
                <div class="tab" [class.active]="activeTab === 2" (click)="changeActiveTab(2)">
                  <div class="tab-title">More</div>
                  <div class="tab-content">
                  <table>
                    <th >  
                        <tr *ngFor="let button of gameService.numbers" class="red" >
                            <app-morebutton (clickEvent)="onClickButton(button)">{{button.value}}</app-morebutton>
                        </tr>
                   </th>
 
                   <th>
                        <tr *ngFor="let button of gameService.numbers" class="black">
                            <app-morebutton (clickEvent)="onClickButton(button)">{{button.value}}</app-morebutton>
                        </tr>
                    </th>
                    <th>
                        <tr *ngFor="let button of gameService.numbers" class="grey">
                            <app-morebutton (clickEvent)="onClickButton(button)">{{button.value}}</app-morebutton>
                        </tr>
                    </th>
                  </table>


                 



                  </div>
                </div>
              </div>              
            </div>

        <div class="middleCenter">
            <span  *ngIf="!gameService.round.status">Waiting result</span>
            <app-card *ngIf="gameService.round.status" [card]="gameService.round.result" ></app-card>
        </div>
        <div class="middleRight">
                <table class="right">
                    <tr>
                        <button (click)="onHighButton()" class="High"> High </button>
                        <button (click)="onLowButton()" class="Low"> Low </button>
                    </tr>
                </table>
        </div>
    </div>
    <div class="bottom">
        <!-- <table class="bottom1">
            <tr class="row">
                <button (click)="half()" class="half"> 1/2 </button>
                <button (click)="min()" class="long"> 0.5</button>
                <button (click)="multiplyby2()" class="half"> x2</button>
            </tr>
        <button (click)="half()" class="min"> min </button>
        <button (click)="min()" class="min"> 0.3</button>
        <button (click)="min()" class="min"> 0.5</button>
        <button (click)="min()" class="min"> 0.7</button>
        <button (click)="onButtonBet()" class="bet"> Bet</button>
        </table> -->
      
       
        
    </div>

</div>
