.game{
  width: auto;
  max-width: 660px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #d1d1d1;
 height: 700px;
 flex-wrap: nowrap; 
 flex-direction: column;
}
.middle{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.top, .bottom {
    height: 150px;
    background: greenyellow;
}
.middleLeft, .middleRight{
    width: 250px ;
    background: yellow;
}
.middleCenter{
    width: 450px;
    justify-content: center;
}




