.game{
  width: auto;
  max-width: 660px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #d1d1d1;
 height: 700px;
 flex-wrap: nowrap; 
 flex-direction: column;
 
}
.middle{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.top, .bottom {
    height: 150px;
    background: greenyellow;
}
.middleLeft, .middleRight{
    width: 180px ;
    background: yellow;
}
.middleCenter{
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex; 
}

.top {
    display: flex;
  }
  
  
   .card {
    width: 50px;
    height: 20px;
  }
  
  .top  app-card ::ng-deep .card {
    width: 60px;
    height: 100px;
  }
  .tab-content{
    display:none;
    flex-direction: column;
    width: 100px;
    height: 50px;
    }
    
    .active .tab-content{
    display: flex;
    height: 348px;
    }

    .tabset{
      display: flex;
      align-items: flex-start;
      height: 380px;
      
      }
      
      .tab{
      display: flex;
      flex-direction: column;
      }

      .tab-title{
        height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-bottom: 2px solid transparent;
     }
     
     .active .tab-title{
     border-color: red;

     }

   .Low{
     margin: top 50px;
     height: 190px;
     width: 130px;
     background-color: red;
     color: white;
     margin:  5px 18px;
   }
   .High{
    margin:  5px 18px;
    height: 190px;
    width: 130px;
    background-color: blue;
    color: white;
  }
  .blue{
    height: 30px;
    margin: 2px;
    background: blue;
    width: 120px;
    margin-left: 30px;
  }
  .red1{
    height: 30px;
    margin: 2px;
    background: red;
    width: 120px;
    margin-left: 30px;
  }
  .black1{
    height: 30px;
    margin: 2px;
    background: black;
    color: white;
    width: 120px;
    margin-left: 30px;
  }
  
  .grey1{
    height: 30px;
    margin: 2px;
    background: lightcyan;
    width: 120px;
    margin-left: 30px;
  }
  .min{
    height: 40px;
    width: 60px;
    margin: 3px;
  }
  .half{
    height: 40px;
    width: 60px;
    margin: 3px;
  }
  .long{
    height: 40px;
    width: 130px;
  }
  .bet{
    height: 90px;
    width: 150px;
    margin: 0px ;
    background: green;
    margin-left: 100px;
  }
  .row{
    margin-left: 30px;
  }
  
  
  
